@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes textShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-text {
  background-size: 200% auto;
  animation: textShimmer 3s linear infinite;
}

